<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/servicos">Serviços</a>
        <a href="/sobre">Sobre</a>
    </nav>
    <h1>Serviços</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At vel iure, laborum dignissimos, consequuntur dolore accusamus odio explicabo, nemo saepe eveniet praesentium perferendis iste? Vitae vero rerum fugit. Molestias, doloribus.</p>
</body>
</html>